#wysiwyg{ 
  width : 100%;
  height : 570px;
}
#editor { 
  margin-left : 20%;
  margin-right : 20%;
  height : 600px;
}
#title { 
  padding-left : 20%;
}
#publish { 
  border-bottom:solid 1px;
  display:inline;
  cursor : pointer;
}
#comment-wysiwyg { 
  width : 100%;
  height : 200px;
}
#comment { 
  margin-left : 25%;
  margin-right : 50%;
}
#face { 
  float : left;
  position : absolute;
  width : 200px;
}
#face-group { 
  width : 200px;
}
.face-image { 
  width : 50px;
  height : 50px;
}
.face-group { 
  width : 37px;
  float : left;
  cursor : pointer;
  text-align : center;
  border-right : solid 1px;
  border-bottom : solid 1px;
  margin-left : 2px;
  margin-bottom : 2px;
}
