ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 80px;
    left: 0px;
    list-style: none;
    z-index:9999;
}

ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#000000;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .home a{
    background-image: url(../img/menu/home1.png);
}
ul#navigation .expert_games a      {
    background-image: url(../img/menu/expert_games1.png);
}
ul#navigation .hot_games a      {
    background-image: url(../img/menu/hot_games1.png);
}
ul#navigation .other_games a      {
    background-image: url(../img/menu/other_games1.png);
}
ul#navigation .contact a   {
    background-image: url(../img/menu/contact1.png);
}
ul#navigation .setting a     {
    background-image: url(../img/menu/setting1.png);
}
ul#navigation .admin a    {
    background-image: url(../img/menu/admin1.png);
}
